{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container mb-4">
        <h1 class="mb-3 text-center">Tickets</h1>
        <div class="containerFiltre">
            <div class="div-colonne1">
                <label for="etatSubventions-select" class="col-form-label">Filtrer les tickets en fonction du statut :</label>
                <select name="etatSubventions-select" id="etatSubventions-select">
                    <option value="Tous" selected="selected">Tous</option>
                    <option value="Ouvert" >Ouvert</option>
                    <option value="EnCours">En cours</option>
                    <option value="Cloture">Clôturé</option>
                </select>
            </div>
        </div>
    </div>

    <div class="table-responsive container">
        <table class="table table-bordered mb-0">
            <thead>
            <tr>
                <th scope="col">Id (ou Référence)</th>
                <th scope="col">Date</th>
                <th scope="col">Type de ticket</th>
                <th scope="col">Titre</th>
                <th scope="col">Demandeur</th>
                <th scope="col">Bâtiment</th>
                <th scope="col">Statut</th>
            </tr>
            </thead>
            <tbody>
            <tr>

            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}